*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}
body{
  color:white;
  display:flex;

  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA0L2pvYjE4MjktYmFja2dyb3VuZC1tay0wMDhnLmpwZw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.sidebar{width:250px;background:black;padding:20px;height:100vh}
.sidebar h2{color:red;margin-bottom:20px}
.sidebar li{padding:12px;cursor:pointer;border-radius:6px}
.sidebar li:hover{background:red}
.main{flex:1;padding:20px}
.search{width:100%;padding:12px;border:none;border-radius:6px;margin-bottom:20px}
.movies{display:grid;grid-template-columns:repeat(auto-fill,minmax(180px,1fr));gap:20px}
.movie{background:#1c1c1c;border-radius:10px;overflow:hidden;cursor:pointer}
.movie img{width:100%;height:260px;object-fit:cover}
.movie-info{padding:10px}
.movie-info p{font-size:12px;color:#aaa}
.popup{position:fixed;inset:0;background:rgba(0,0,0,.8);display:none;justify-content:center;align-items:center}
.popup-content{background:#111;padding:20px;border-radius:10px;width:400px}
.popup button{margin-top:10px;background:red;border:none;color:white;padding:8px;cursor:pointer}
